// Colors
$colorBgMain: #1d2027;
$colorPrimary: #6bbaff;
$colorPrimary-03: rgba(107, 186, 255, 0.3);
$colorPrimaryLight: #82c5ff;
$colorPrimaryShaded: #38617f;
$colorRed: #bb3b6e;
$colorRedLight: #d1638f;
$colorRedShaded: #73304f;
$colorGreen: #6b9951;
$colorGreenLight: #7fac65;
$colorGrayLight: #363535;
$colorViolet: #486ed3;
$colorBorderLayout: #e8e8e8;
$colorIconsDefault: #848484;

// Text
$text: #cbcbd3;
$textShaded: #393943;
$fontMain: "Inter", sans-serif;
$fontHeaders: "Bebas Neue", cursive;

// Other
$blinkTime: 2s;
